/* Dashboard */
.dashboardBar {
    background-color: var(--cardColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboardBarContainer {
    padding: 15px 25px;
}

/* Navbar */
#navbarContainer {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    align-items: center;
    column-gap: 1.5em;
    color: var(--cardTextColor);
}

#navbarSearchContainer {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

#navbarSearchContainer > input {
    flex-grow: 1;
    border: none;
    border-radius: 15px;
    background-color: var(--secondaryColor);
    padding: 7px 10px;
    font-size: 1rem;
}

#navbarSearchContainer > input:focus {
    outline: none;
}

#navbarProfileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

#navbarUserNameText {
    text-wrap: nowrap;
    font-weight: bold;
}

/* Taskbar */
#taskbarContainer {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    color: var(--cardTextColor);
}

#taskbarGreetingContainer {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    font-weight: bold;
}

#taskbarGreetingText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 7px;
}

#greetingText {
    font-size: 0.75rem;
}

#greetingUserInfo {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    font-size: 1.25rem;
}

#taskbarActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width: 799px) {
    #navbarUserNameText {
        display: none;
    }
}

@media(max-width: 549px) {
    #navbarProfileContainer > #notificationIcon {
        display: none;
    }
}

@media(max-width: 349px) {
    #navbarSearchContainer > #searchIcon {
        display: none;
    }
}