.dashboardBar {
    background-color: var(--cardColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboardBarContainer {
    padding: 0.8rem 1.5rem;
}

.dashboardContentContainer {
    --lwPriorityColor: #3a9b3e;
    --mdPriorityColor: #f0b429;
    --hiPriorityColor: #e44242;
    --dashboardGapSize: 1.5rem;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    padding: 1.75rem 2rem 1.75rem 1rem;
    column-gap: var(--dashboardGapSize);
}

@media(max-width: 879px) {
    .dashboardContentContainer {
        --dashboardGapSize: 1.25rem;
        padding-right: 1rem;
    }
}

@media(max-width: 640px) {
    .dashboardBarContainer {
        padding: 0.5rem 1.5rem;
    }
    
    .dashboardContentContainer {
        grid-template-columns: 1fr;
    }
}