:root {
    --sidebarIconColSize: 0.66fr;
    --sidebarTextColSize: 2fr;
}

.logoHeading {
    display: grid;
    grid-template-columns: var(--sidebarIconColSize) var(--sidebarTextColSize);
    justify-items: center;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: 2em;
}

.logoHeading:hover {
    cursor: pointer;
}

.logoHeading > div {
    justify-self: start;
}

.sidebarGroup {
    margin-bottom: 4em;
}

.sidebarList:last-child {
    margin-bottom: 0px;
}

.sidebarItem {
    display: grid;
    grid-template-columns: var(--sidebarIconColSize) var(--sidebarTextColSize);
    justify-items: center;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.sidebarItem > div {
    justify-self: start;
}

.sidebarItem:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width: 699px) {
    .logoHeading {
        display: flex;
        justify-content: center;
    }

    .logoHeading > div {
        display: none;
    }

    .sidebarItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebarItem > div {
        display: none;
    }
}