:root {
    --primaryColor: #1992D4;
    --primaryTextColor: #FFFFFF;
    --secondaryColor: #E2E8F0;
    --cardColor: #FFFFFF;
    --cardTextColor: #000000;
    --cardSecondaryTextColor: #666768;
    --primaryBtnHoverColor: #55A1CA;
    --secondaryBtnHoverColor: #E0E0E0;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.65fr 3fr;
}

.sidebar {
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
    padding: 0.65rem;
}

.dashboard {
    background-color: var(--secondaryColor);
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 799px) {
    main {
        grid-template-columns: 50px 1fr;
    }
}

@media(max-width: 499px) {
    /* main {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        position: fixed;
        bottom: 0;
        overflow: hidden;
        width: 100%;
    } */
}