main {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.65fr 3fr;
}

.sidebar {
    background-color: #1992d4;
    color: white;
    padding: 10px;
}

.dashboard {
    background-color: lightgray;
}

@media(max-width: 549px) {
    main {
        grid-template-columns: 50px 1fr;
    }
}